/* 引入 reset.css */
@import url('reset.css');

/* Grid Container */
.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "sidebar content"
        "footer footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 400px 1fr;
    height: 100vh;
}

/* Header */
.header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Navigation */
.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #555;
    color: white;
    padding: 10px;
    gap: 15px; /* 添加这一行来设置项目之间的间隔 */
}


/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    gap: 20px;
}


/* Content */
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    gap: 30px;
}



/* Register Form */

.reg_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}
.reg_form li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 调整项目之间的间距 */
}

.reg_form li label {
    flex: 0 0 100px; /* 固定 label 的宽度 */
    text-align: right;
    margin-right: 10px; /* 调整 label 和 input 之间的间距 */
}

.reg_form li input {
    flex: 1; /* 填充剩余空间 */
    height: 30px;
    padding: 5px; /* 调整 input 的内边距 */
    border: 1px solid #ccc;
}

.reg_form li .get_msg_code {
    white-space: nowrap;
}

.reg_form li.agreement input{
    width:15px;height:15px;
}
.reg_form li.agreement label{
    width:350px;
    white-space: nowrap; /* 文字不换行 */
}
.reg_form li.reg_sub input{width:380px;height:40px;background-color:#ff5757;font-size:18px;color:#fff;font-family:'Microsoft Yahei';cursor:pointer;}



/* Footer */
.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 10px;
    border-top:1px solid #fe0000;
	margin:30px 0;
}

.foot_link{text-align:center;margin-top:30px;}
.foot_link a,.foot_link span{color:#4e4e4e;}
.foot_link a:hover{color:#ff8800}
.foot_link span{padding:0 10px}
.footer p{text-align:center; margin-top:10px;}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "nav"
            "sidebar"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .nav {
        order: -1; /* Move navigation to the top on small screens */
    }
}
